{% extends 'base.html' %}

{% block title %}Поиск погоды{% endblock %}

{% block content %}
<div class="row g-4">
    <!-- Левая колонка: поиск и погода -->
    <div class="col-lg-8">
        <!-- Форма поиска -->
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <form method="post" action="{% url 'weather:home' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        {{ form.query }}
                        <button type="submit" class="btn btn-primary btn-lg">
                            Поиск
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div> 
    {% for location in locations %} 
    <p> {{ location }} </p>
    {% endfor %} 
    <p> {{ query }} </p>
    <p> {{ weather.location.name_en }}</p>
    <p> {{ weather.temperature}}</p>
    <p> {{ weather.description }}</p>
    <p> {{ weather.wind_speed }}</p>
</div>
{% endblock %}