{% extends 'base.html' %}

{% block title %}Поиск погоды{% endblock %}

{% block content %}


<div class="row g-4">
    <!-- Левая колонка: поиск и погода -->
    <div class="col-lg-8">
        <!-- Форма поиска -->
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <form method="post" action="{% url 'weather:home' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="query" class="form-control form-control-lg"
                            placeholder="Введите название города или локации..." value="{{ query|default:'' }}"
                            autocomplete="off" required>
                        <button type="submit" class="btn btn-primary btn-lg">
                            Поиск
                        </button>
                    </div>
                </form>
            </div>
        </div>
<!-- / -->
</div>
{% endblock %}